<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>598855931929-lal64nqgho9vo93m99nnpoqej7rf0j07.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.598855931929-lal64nqgho9vo93m99nnpoqej7rf0j07</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>598855931929-4iv2emcufga0l5ab0ut394gh0huh06ff.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyCR1kVxlmAJc32sGsW4DSDw9HcgpWynbU8</string>
    <key>GCM_SENDER_ID</key>
    <string>598855931929</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.foodtogo.user</string>
    <key>PROJECT_ID</key>
    <string>foodtogo-customer</string>
    <key>STORAGE_BUCKET</key>
    <string>foodtogo-customer.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:598855931929:ios:836380a1611266e6a8f288</string>
</dict>
</plist>
